@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Theme for History */
body {
  font-family: "Merriweather", serif;
  
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
